.pagina-boteze {
  display: flex;
  justify-content: space-between;
}

.boteze {
  background-color: rgba(219, 244, 248, 0.836);
  width: 75%;
  margin-left: 30px;

  .age-input {
    max-width: 40px;
  }
  .search-phone {
    max-width: 100px;
  }
  .search-input {
    max-width: 130px;
  }
  .barra-buttons {
    display: flex;
    justify-content: space-between;
  }
}
.botezati {
  background-color: rgba(222, 225, 228, 0.879);
  width: 64%;
}
.title {
  text-align: center;

  text-decoration: underline;
  font-weight: bold;
}
.Modal-title {
  text-decoration: underline;

  margin-left: 250px;
}
