.page-persons {
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100%;

  .age-input {
    max-width: 45px;
  }

  .search-phone {
    max-width: 100px;
  }

  .search-input {
    max-width: 150px;
    box-sizing: border-box;
    width: 100%;
  }

  .barra-buttons {
    margin: 5px 0 5px -10px;
    display: flex;
    justify-content: flex-start;
  }

  .sex-filter {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

// .radioGroup-box {
//     display: flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
// }

.head-list {
  position: sticky;
  top: 50px;
  background-color: #b9b4b4;
}
.inputs-list {
  // position: sticky;
  top: 80px;
  background-color: #ccc;
}
.checkbox-m-f {
  display: flex;
  flex-direction: column;
}
// @media print {
//   /* Mostrar únicamente el contenedor deseado */
//   .printable-table {
//     display: block !important;
//     visibility: visible !important;
//   }

//   /* Evitar que otros elementos del DOM se muestren */
//   .printable-table ~ * {
//     display: none !important;
//   }
// }
.lista_persoane {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
  }
  .print-date {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .print-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
  }
}
