.CSVcontainer {
  background-color: rgb(250, 250, 250);
  display: flex;
  margin-top: 15px;
}
.imputCSV {
  // margin-right: 50px;
  margin-left: 10px;
}
.csv-main {
  border-radius: 15px;
  padding: 15px;
  width: 70%;
  background-color: rgb(226, 224, 255);
}
