.react-datepicker-wrapper input[type="text"] {
  width: 120px;
}
.observatii {
  width: 95%;
  height: 200px;
}
/* @media print {
  .printable-content {
    margin: 20px;
    background-color: aquamarine;
  }
  .logo-box {
    display: block !important;
    visibility: visible !important;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .image-preview {
    margin: 35px 50px 35px 180px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  .box {
    display: flex;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid;
  }
  .general-data {
    margin: 20px;
  }

  .familie {
    border: 2px solid;
  }
  .vertical-text {
    rotate: 270deg;
  }
  .general-box {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
  }
} */
