.react-datepicker-wrapper input[type="text"] {
  width: 120px;
}
.observatii {
  width: 95%;
  height: 200px;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  background-color: #b1cdd2;
  padding: 10px 10px 0 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs > .nav-item > .nav-link.active {
  background-color: #2c5d63 !important;
  color: white !important;
  border-bottom: 3px solid #1a383c !important;
  font-weight: 500;
}