html,
body,
#root {
  height: 100%;
}

#root {
  background-image: url(assets/images/desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(242, 231, 207);
  background-position: center;
  background-attachment: fixed;

  .app {
    background-color: aquamarine;
    position: fixed;
    margin-left: 70px;
  }
  .nav_bar {
    background-color: darkmagenta;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .react-datepicker-popper {
    z-index: 900;
  }
}
.userBox-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2px;
}

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 4px 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #acacaf;
  }

  .icon {
    font-size: 1.2rem;
  }
}

.logged-user {
  display: flex;
  align-items: center;
  background-color: #f0f4f8; /* Color de fondo suave */
  padding: 2px 12px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  // display: flex;
  // align-items: center;
  // gap: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .user-icon {
    font-size: 1.5rem;
    color: #007bff;
  }

  .user-name {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
}
