html,
body,
#root {
  height: 100%;
}

#root {
  background-image: url(assets/images/desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cadetblue;
  background-position: center;

  .app {
    background-color: aquamarine;
    position: fixed;
    margin-left: 70px;
  }
  .nav_bar {
    background-color: darkmagenta;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .react-datepicker-popper {
    z-index: 900;
  }
}
